/* Global */

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    font-family: Montserrat;
}



body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    line-height: 1.5;
    background-color: #f8f8f8;
}



/* =========================================
               Header/Footer
   =========================================
*/

.page-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    transition: 1s;
}

.nav {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    
}

.nav__link:hover {
    opacity: 1;
}

.nav__item:not(:last-child) {
    margin-right: 50px;
}

.nav__link {
    display: block;
    padding: 15px 30px;
    text-decoration: none;
    color: #fff;
    opacity: 0.85;
    transition: opacity 0.1s linear;
    cursor: pointer;
}

.logo {
    width: fit-content;
    display: inline-flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Dancing Script', cursive;
    text-transform: uppercase;
    cursor: pointer;
}

.logo:after {
    content: "";
    margin-left: 10px;
    width: 30px;
    height: 30px;
    background-image: url(../photos/pizza.svg);
    background-size: 30px;
}

.page-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 40px;
    padding: 20px;
    background-color: #3c3c3c;
    color: #fff;
}

.page-footer span{
    display: block;;
}

.page-footer h4{
    text-align: center;
    margin-bottom: 10px;
}


.header__scrolled {
    background-color: #3c3c3c;
    transition: 1s;
    height: 50px;
}



/* Hero */

.hero{
    background: url(../photos/wooden-board-empty-table-top-blurred-background\ \(1\).webp) center / cover no-repeat ; 
    height: 100vh;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .3);

}

.hero-wrap{
    z-index: 1;
    color: #fff;
}

.hero-wrap p{
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.7px;
    margin-bottom: 20px;
}

.hero-title{
    font-weight: bold;
    font-size: 60px;
}

.hero-subtitle{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
}

.hero-btn{
    text-decoration: none;
    font-weight: bold;
    color: #ff4e50;

    width: 80px;
    height: 30px;

    border-radius: 20px;
    background-color: #f2e9ce;

    padding: 8px 20px;

    transition-duration: 1s;
}


.hero-btn:hover{

    background-color: #ff4e50;
    color: #f2e9ce;
}

/* =========================================
                   Main / Menu
   =========================================
*/

.menu-title{
    margin-top: 90px;
    height: 300px;
    width: 100%;
    background: url(../photos/3007281.webp) center / cover no-repeat;
}

.menu{
    margin-top: 70px;
}

.cards {
    margin: 20px 20px;
    /* display: flex; */
    /* justify-content: space-between; */
    gap: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.main-title {
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
    color: #3c3c3c;
}

.card {
    text-align: center;
    /* max-width: 350px; */
    transition: box-shadow, 0.2s linear;
    padding: 10px;
    background-color: #f0ecdf;
    border-radius: 10px;
}

.card:hover {
    box-shadow: 0px 5px 10px 2px rgba(24, 24, 24, 0.2);
    cursor: pointer;
}

.card:hover button {
    opacity: 1;
}

.card__photo {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.card__title {
    margin: 8px 0 20px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;

}

.card__decription {
    opacity: 0.7;
    font-size: 15px;
    letter-spacing: 0.7px;
    margin-bottom: 5px;
}

.content-size__title {
    margin-bottom: 7px;
}

.content-size__variant:not(:last-child) {
    margin-right: 30px;
}

.content-size__variant {
    border-radius: 30%;
    padding: 10px;
}

.content-size__variant:hover {
    background: rgb(238, 202, 135);
}

.content-size__checkbox {
    margin-bottom: 20px;
}

.product-price {
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
}

.btn__icon {
    display: inline-flex;
}

.btn__icon--start {
    margin-right: 10px;
}

.btn__icon--end {
    margin-left: 10px;
}

.btn {
    opacity: 0;
    font-size: 17px;
    font-weight: 550;
    border: none;
    padding: 10px 20px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 5px;
    border-radius: 7px;
    background-color: rgba(255, 60, 0, 0.726);
    transition: background-color 0.2s linear;
    transition: opacity 0.2s linear;
}

.btn:hover {
    background-color: rgba(255, 60, 0, 0.884);
}


/* About-us Section */

.about-us{
    background: linear-gradient(to right, #2c2c2c, #2a2a2a) center / cover no-repeat;
    width: 100%;
    height: 300px;


    margin: 90px 0;
    
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    position: relative;
}

.about-us__title{
    font-family: 'Dancing Script', cursive;
    font-size: 50px;

    z-index: 1;
    color: #fff;
}


.about-us__container{

    margin: 0 auto;
    padding: 10px 20px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    text-align: center;
    column-gap: 100px;
}

.about-us__description{
    color: #3c3c3c;
}

.about-us__description h3{
    margin-bottom: 15px;
}

.about-us__container p {
    max-width: 400px;
    margin-bottom: 20px;
}



.container-img{
    margin-bottom: 20px;
    max-width: 500px;
    height: auto;

    border-radius: 20px;
}

@media screen and (max-width: 600px) {
    .cards{
        flex-direction: column;
        width: 100%;
        margin: 0 auto 25px;
    }

    .card{
        align-self: center;
        border-bottom: 0.5px solid rgb(230, 164, 66);
        width: 100%;
    }

    .main-title{
        text-align: left;
        margin-left: 10px;
    }


    .page-header, .nav{
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }

    .logo{
        align-self: flex-end;
    }

    .work-hours,
    .contacts{
        font-size: 12px;
        margin-bottom: 15px;
    }

    .container-img{
        max-width: 333px;
    }


   
}

@media screen and (max-width: 400px) {
    .content-size__variant{
       font-size: 14px; 
    }
}


@media screen and (max-width: 890px) and (min-width: 601px){
    .cards{
        flex-wrap: wrap;
        row-gap: 20px;
    }

    .card__photo{
        margin: 0 auto;
    }

}

@media screen and (max-width: 750px){
    .card{
        width: 90%;
    }

    .page-header, .nav{
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }

    .logo{
        align-self: flex-end;
    }
}